.project-detail
    height: 500px
    width: 100%
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    margin-top: 48px

    nav
        position: absolute
        right: 0
        bottom: 100%

        ul
            display: flex
            justify-content: center
            align-items: flex-end
            position: relative
            right: 30px

            li
                transform: skew(-45deg)
                background: rgba(0, 0, 0, .4)
                transition: all .4s
                cursor: pointer

                span
                    transform: skew(45deg)
                    display: block
                    padding: 15px 25px
                    font-family: DoctorGlitch
                    color: white

                &:hover
                    background: rgba(35, 35, 35, .4)

                &:last-child
                    transform: skew(-45deg)
                    background: black
                    position: relative
                    padding: 4px

                    span
                        position: relative
                        left: 15px
                        z-index: 99

                    &:after
                        content: ''
                        position: absolute
                        right: -30px
                        top: 0
                        transform: skew(45deg)
                        display: block
                        background: black
                        width: 60px
                        height: 57px

    .project-detail-show
        position: relative
        z-index: 199
        width: 100%
        height: 100%

        & > div
            position: absolute
            opacity: 0
            transition: opacity .6s
            z-index: 0
            height: 100%
            

        .active
            opacity: 1
            z-index: 10
        
        #project-game
            .game-footer
                position: absolute
                width: 100%
                bottom: -1px
                display: flex
                justify-content: space-between
                align-items: center
                opacity: .1
                transition: all .6s

                &:hover
                    opacity: 1

                .game-title
                    @extend .title
                    padding: 15px
                    padding-right: 50px
                    background: black
                    clip-path: polygon(0 0, 85% 0%, 100% 100%, 0% 100%)
                    font:
                        size: 1.5em

                .game-fullscreen
                    background: black
                    width: 57.2px
                    height: 57.2px
                    display: flex
                    justify-content: center
                    align-items: center
                    cursor: pointer

                    i
                        color: white
                        transform: rotate(45deg)
                        font-size: 2em
        
        #project-summary
            background: red