@font-face { font-family: DoctorGlitch; src: url(../fonts/DoctorGlitch.ttf); }
body { background-color: #242424; margin: 0; padding: 0; }

.title { font-family: DoctorGlitch; color: white; }

body { height: 100vh; }
